* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background: #ffffff;
}

a {
  color: #000000;
  text-decoration: none;
}

button {
  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.contenedor {
  margin: 0 auto;
}

.portada {
  position: relative;
  -webkit-mask-image: linear-gradient(to bottom, black 5%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 58%, transparent 100%);
}

.textoPortada {
  position: absolute;
  width: 100%;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  line-height: 1;
}

.textoNovios {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  text-align: center;
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  letter-spacing: 0.1rem;
  z-index: 10;
}

.textoNovios p {
  font-family: "Great Vibes", cursive;
}

.espectro {
  width: 100%;
  height: auto;
  margin: 0 auto;
  height: auto;
  text-align: center;
  margin-top: 20%;
}

.espectro img {
  width: 100px;
  height: 60px;
  margin-top: -20px;
  overflow: hidden;
  object-fit: fill;
}

.reproducir {
  margin: auto 0;
  text-align: center;
  margin-bottom: 5%;
}

.reproducir button {
  border-radius: 50%;
  border: solid 0px #000000;
  width: 50px;
  height: 50px;
}

.reproducir svg {
  width: 100%;
  height: 100%;
  color: #000000;
}

.musica {
  margin: 0 auto;
  text-align: center;
  opacity: 0;
}

.contador {
  position: relative;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
  height: 100%;
  margin-bottom: 15%;
}

.contador p {
  font-size: 30px;
  font-family: "Great Vibes", cursive;
  padding: 10px;
  margin-bottom: 10%;
  margin-top: 10%;
}

.fecha {
  position: relative;
  text-align: center;
  color: #000000;
  font-size: 30px;
  margin-top: 60px;
  font-family: "Times New Roman", Times, serif;
}

.conteo {
  font-size: 45px;
  font-family: "Times New Roman", Times, serif;
  color: #000000;
  margin-bottom: 2%;
  margin-top: -10px;
  font-family: "Great Vibes", cursive;
}

section {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #384773;
  background-color: #384773;
  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

td {
  border: 3px solid#384773;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #ffffff;
  width: 20%;
  color: #000000;
  padding: 5px;
  padding-top: 20px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
}

th {
  border: 3px solid #384773;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  justify-content: center;
  padding: 5px;
  padding-bottom: 20px;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}

#agradecimiento {
  position: relative;
  text-align: center;
  line-height: 25px;
}

.bienvenida {
  position: relative;
  text-align: center;

  view-timeline-name: --container7;
  view-timeline-axis: block;
  animation-timeline: --container7;
  animation-name: moveB;
}

.bienvenida img {
  width: 100%;
}

.bienvenida small {
  margin-left: 50%;
}

.bienvenida .card {
  border: 5px ridge #405785;
}

.bienvenida h5 {
  font-family: "Great Vibes", cursive;
  font-size: 40px;
}

.bienvenida p {
  text-align: center;
  line-height: 1rem;
}

@keyframes moveB {
  0% {
    scale: 0;
    opacity: 0;
    transform: translateX(-1000px);
  }

  45% {
    scale: 1;
    opacity: 1;
    transform: translateX(0px);
  }
}

.fondoPadres {
  background: linear-gradient(
    75deg,
    #bf7839,
    /* Dorado oscuro */ #bf8c4e,
    /* Bronce */ #d9af62,
    /* Oro medio */ #f2dc99,
    /* Oro claro */ #f2d680,
    /* Brillo dorado */ #f2dc99,
    /* Oro claro */ #d9af62,
    /* Oro medio */ #bf8c4e,
    /* Bronce */ #bf7839 /* Dorado oscuro */
  );
  background-size: 400% 400%;
  animation: goldShine 6s infinite linear;
  width: 100%;
  padding: 5%;
  /*box-shadow: #bf7e04cb 0px 0px 25px 0px inset;*/
}

.padres {
  width: 90%;
  margin: 0 auto;
  background-image: url(recursos/texture.png);
  padding: 20px;
  text-align: center;
  view-timeline-name: --container7;
  view-timeline-axis: block;
  animation-timeline: --container7;
  animation-name: moveC;
  box-shadow: #000000b6 0px 0px 15px 0px;

  h1 {
    font-size: 45px;
    font-family: "Great Vibes", cursive;
    margin-bottom: 20px;
    margin-top: 25px;
  }

  h2 {
    font-size: 22px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 5%;
  }

  p {
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 10%;
  }
}

.Galeria {
  p {
    font-size: 40px;
    font-family: "Great Vibes", cursive;
    text-align: center;
    margin-top: 60px;
  }
  view-timeline-name: --container7;
  view-timeline-axis: block;
  animation-timeline: --container7;
  animation-name: moveC;
}

.carousel {
  margin-top: 30px;
  margin-bottom: 10%;
  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.cronograma {
  position: relative;
  text-align: center;
  view-timeline-name: --container7;
  view-timeline-axis: block;
  animation-timeline: --container7;
  animation-name: moveC;
}

.tituloCronograma {
  margin: 0 auto;
  width: 90%;
  padding: 5%;
  margin-bottom: -10px;
}

.tituloCronograma h2 {
  font-size: 50px;
  font-family: "Great Vibes", cursive;
  color: #000000;
  margin-bottom: 5%;
}

.tituloCronograma p {
  color: #000000;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 5%;
}

.tituloCronograma svg {
  color: #000000;
  width: 50px;
  height: 50px;
}

.tituloC {
  position: relative;
  text-align: center;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
}

.timeline p {
  line-height: 2rem;
}

.container {
  padding: 20px;
  position: relative;
  width: 65%;
}

@keyframes movedown {
  0% {
    scale: 40%;
    opacity: 0;
    transform: translateY(-30px);
  }

  10% {
    scale: 80%;
    opacity: 0.5;
    transform: translateY(-30px);
  }

  100% {
    scale: 100%;
    opacity: 1;
    transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3) {
  animation-delay: 2s;
}

.container:nth-child(4) {
  animation-delay: 3s;
}

.container:nth-child(5) {
  animation-delay: 4s;
}

.container:nth-child(6) {
  animation-delay: 5s;
}

.text-box {
  padding: 10px 20px;
  background: linear-gradient(
    180deg,
    /* Oro claro */ #96b1d5,
    /* Brillo dorado */ #96b1d5,
    /* Oro claro */ #56738c,
    /* Oro medio */ #405785
  );
  position: relative;
  border-radius: 10px;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}

.text-box h2,
h5 {
  text-align: center;
  margin-top: 10px;
}

.left-container {
  left: 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #405785;
  left: 15%;
  top: 0;

  view-timeline-name: --container1;
  view-timeline-axis: block;
  animation-timeline: --container1;

  animation-name: moveline;
}

@keyframes moveline {
  0% {
    height: 0;
    opacity: 0;
  }

  30% {
    opacity: 1;
    height: 0;
  }

  100% {
    opacity: 1;
    height: 100%;
  }
}

.text-box h2 {
  font-size: 20px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}

.text-box small p {
  display: inline-block;
  margin-bottom: 5px;
  font-family: "Times New Roman", Times, serif;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 20px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #405785;
  left: -15px;
}

.vestimenta {
  position: relative;
  text-align: center;
  padding: 5%;
  background: linear-gradient(
    60deg,
    #bf7839,
    /* Dorado oscuro */ #bf8c4e,
    /* Bronce */ #d9af62,
    /* Oro medio */ #f2dc99,
    /* Oro claro */ #f2d680,
    /* Brillo dorado */ #f2dc99,
    /* Oro claro */ #d9af62,
    /* Oro medio */ #bf8c4e,
    /* Bronce */ #bf7839 /* Dorado oscuro */
  );
  background-size: 400% 400%;
  margin-top: 10%;
  margin-bottom: 10%;
  width: 100%;
  justify-content: center;
  view-timeline-name: --container3;
  view-timeline-axis: block;
  animation-timeline: --container3;
  animation-name: movevestimenta;
}

@keyframes movevestimenta {
  0% {
    scale: 0;
    opacity: 0;
    transform: translateX(-1000px);
  }

  45% {
    scale: 1;
    opacity: 1;
    transform: translateX(0px);
  }
}

.tituloV {
  font-size: 50px;
  color: black;
  font-family: "Great Vibes", cursive;
  margin-bottom: 10px;
}

.vestimenta h6 {
  margin-top: 5%;
}

.vestimenta p,
h6 {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
}

#ubicacion {
  margin-bottom: 15px;
}

.ubicaciones {
  position: relative;
  text-align: center;
  margin-top: 15%;
  width: 100%;

  color: #ffffff;

  view-timeline-name: --container7;
  view-timeline-axis: block;
  animation-timeline: --container7;
  animation-name: moveC;
}

.ubicaciones h5 {
  font-family: "Great Vibes", cursive;
  font-size: 40px;
  color: #ffffff;
}

.ubicaciones p {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  color: #ffffff;
}

.ubicaciones h6 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.nota {
  margin-bottom: 5%;
  margin-top: -2%;
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

.card {
  margin: 0 auto;
  background: linear-gradient(
    60deg,
    #384773,
    /* Dorado oscuro */ #384773,
    /* Bronce */ #405785,
    /* Oro medio */ #7e93b2,
    /* Oro claro */ #96b1d5,
    /* Brillo dorado */ #96b1d5,
    /* Oro claro */ #56738c,
    /* Oro medio */ #405785,
    /* Bronce */ #405785 /* Dorado oscuro */
  );
  background-size: 400% 400%;
  animation: goldShine 6s infinite linear;
  width: 0%;
  height: 250px;
  margin-bottom: 10%;
  border: 3px ridge #021e73;

  -webkit-animation: shadow-drop-2-center 0.4s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes moveC {
  0% {
    scale: 0;
    opacity: 0;
    transform: translateX(100px);
  }

  45% {
    scale: 1;
    opacity: 1;
    transform: translateX(0px);
  }
}

.hotel {
  background-color: #c7d6bf;
}

.boton {
  margin: 0 auto;
  margin-top: 3%;
  margin-bottom: 10%;
}

.mesa {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    #bf7839,
    /* Dorado oscuro */ #bf8c4e,
    /* Bronce */ #d9af62,
    /* Oro medio */ #f2dc99,
    /* Oro claro */ #f2d680,
    /* Brillo dorado */ #f2dc99,
    /* Oro claro */ #d9af62,
    /* Oro medio */ #bf8c4e,
    /* Bronce */ #bf7839 /* Dorado oscuro */
  );
  background-size: 400% 400%;
  padding: 5%;
  margin-top: 15%;
  margin-bottom: 15%;
  view-timeline-name: --container7;
  view-timeline-axis: block;
  animation-timeline: --container7;
  animation-name: moveB;
}

.mesa svg {
  margin-bottom: 5%;
}

.regalo {
  margin-bottom: 5%;
}

.tituloMesa {
  font-size: 40px;
  color: black;
  font-family: "Great Vibes", cursive;
}

.frase {
  margin-bottom: 8%;
  margin-top: 20px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

.numeroR {
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
}

.padrinos {
  position: relative;
  text-align: center;
  margin-top: 15%;
  width: 100%;
  view-timeline-name: --container8;
  view-timeline-axis: block;
  animation-timeline: --container8;
  animation-name: moveC;
}

.nombresPadrinos {
  font-size: 30px;
  color: black;
  font-family: "Times New Roman", Times, serif;
  padding: 10%;
}

.padrinos h2 {
  margin-top: 2%;
  font-size: 35px;
  font-family: "Great Vibes", cursive;
}

.padrinos p {
  text-align: center;
  font-size: 16px;
  padding: 3%;
  font-family: "Times New Roman", Times, serif;
}

.confirmar {
  position: relative;
  text-align: center;
  padding: 5%;
  width: 100%;
}
.tituloConfirmar {
  margin: 0;
}

.tituloConfirmar h2 {
  color: #000000;
  font-family: "Great Vibes", cursive;
  font-size: 40px;
}

.tituloConfirmar p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #000000;
  margin-bottom: -30px;
}

.tituloConfirmar {
  margin-bottom: 10%;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .contador {
    width: 100%;
  }

  .portada {
    margin: 0 auto;
    width: 100%;
  }

  .vestimenta {
    width: 100%;
  }

  .textoNovios {
    font-size: 50px;
  }
}

@media screen and (min-width: 1000px) {
  body {
    margin: 0 auto;
    width: 50%;
  }

  .textoNovios {
    font-size: 60px;
  }
}

.timeline-second {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
}

.timeline-second h1 {
  font-size: 2em;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.timeline-event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

/* Línea central */
.timeline-second:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 4px;
  background: #d4af37;
  /* Línea dorada */
  transform: translateX(-50%);
}

/* Evento izquierdo (icono y texto) */
.event-content {
  display: flex;
  align-items: center;
  max-width: 40%;
  line-height: 2rem;
}

.event-content.left {
  text-align: right;
  margin-left: 7px;
}

.event-content.right {
  text-align: left;
  margin-right: 0px;
}

/* Icono */
.event-content .icon img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.event-content.left .icon img {
  margin-right: 0;
  margin-left: 10px;
}

/* Texto */
.event-content .text h2 {
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
}

/* Horario */
.time {
  flex: 0 0 20%;
  text-align: center;
}

.time.left {
  text-align: right;
  margin-left: 25px;
}

.time.right {
  text-align: left;
  margin-right: 25px;
}

.time p {
  font-size: 1em;
  margin: 0;
  color: #000000;
  font-family: "Great Vibes", cursive;
  font-size: 23px;
}

.timeline-second:after {
  font-size: 1.9em; /* Tamaño del símbolo */
  color: #d4af37; /* Mismo color que la línea */
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-second:after {
  content: "♥"; /* Corazón */
  bottom: -0.8em; /* Ajuste para que quede justo al final de la línea */
}

.icon p {
  font-family: "Great Vibes", cursive;
  font-size: 23px;
  color: #000000;
}

.botones button {
  margin-bottom: 20px;
}
